.navbar{
	background-color: #AB1F00;
}
.navbar .navbar-brand {
	color: #fff;
}
.navbar .navbar-brand:hover{
	color: #fff;
}
.navbar .navbar-nav li a{
	color: #fff !important;
}

h1{
font-family: 'Helvetica Neue LT Std', sans-serif;
	text-transform:none;
	font-weight: bold;
	font-size: 54px;
	color: #0C3454;

	}

h2{
font-family: Playfair Display, serif;
font-style:italic;

	}

h3{
	font-family: 'Helvetica Neue LT Std', sans-serif;
	font-size: 20px;
	font-weight: bold;
  color: #0C3454;
  text-transform: none;
}

h4{
  font-family: Book Antiqua, serif;
  font-size: 90%;
  text-align:justify;
  padding-left: 10%;
  padding-right: 10%;
}

h5{
	font-family: 'Helvetica Neue LT Std', sans-serif;
	font-size: 14px;
	font-weight: bold;
  color: #0C3454;
  text-transform: none;
	padding-bottom: 5px:
}


p{
	text-align:justify;
}


blockquote{
	text-align:justify;
  padding-left: 10%;
  padding-right: 10%;;
}

hr {
  border: none;
  height: 2px;
  color: maroon; /* old IE */
  background-color: maroon; /* Modern Browsers */
}

.box {
  border-color: #AB1F00;
  border-width: 2px;
  border-style:solid;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  margin: 10px 0 20px;
  padding: 15px 15px 0px 15px;
  position: relative;
  font-size: 16px;
  background: white;

}
